<!-- Header -->
 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="/" class="d-flex align-items-center logo">
        <img src="../static/image/logo.png" class="img-fluid" alt="CNG Logo">
      </a>

      <ul class="nav mainMenu justify-content-center">
        <li><a href="#" class="nav-link active">Home</a></li>
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="#" class="nav-link">Services</a></li>
        <li><a href="#" class="nav-link">Equipments</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-sm btn-outline-primary me-2">Login</button>
      </div>
    </header>
  </div>
