<!-- Header -->
 <div class="topHeader bg-dark py-1">
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-2">

      <div class="d-flex gap-1 align-items-center text-white">
        <i class="fa-regular fa-envelope"></i>
        <a class="text-white font14 text-decoration-none" href="mailto:info@om.com">info@om.com</a>
      </div>
      <div class="d-flex gap-1 align-items-center text-white">
        <i class="fa-regular fa-envelope"></i>
        <a class="text-white font14 text-decoration-none" href="mailto:info@om.com">9768576248</a>
      </div>
      
    </div>
    <div class="d-flex align-items-center gap-3">
<a class="text-white text-decoration-none" href="#"><i class="fa-brands fa-facebook-f"></i></a>
<a class="text-white text-decoration-none" href="#"><i class="fa-brands fa-square-instagram"></i></a>
<a class="text-white text-decoration-none" href="#"><i class="fa-solid fa-x"></i></a>
<a class="text-white text-decoration-none" href="#"><i class="fa-brands fa-whatsapp"></i></a>
      
      
    </div>
  </div>
</div>
 </div>
 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
      <a href="/" class="d-flex align-items-center logo">
        <img src="../static/image/logo.png" class="img-fluid" alt="CNG Logo">
      </a>

      <ul class="nav mainMenu justify-content-center">
        <li><a href="{{ url_for('home') }}" class="nav-link {{ 'active' if request.endpoint == 'home' else '' }}">Home</a></li>
        <li><a href="{{ url_for('about') }}" class="nav-link {{ 'active' if request.endpoint == 'about' else '' }}">About</a></li>
        <li><a href="{{ url_for('services') }}" class="nav-link {{ 'active' if 'service' in request.endpoint else '' }}">Services</a></li>
        <li><a href="{{ url_for('feedback') }}" class="nav-link {{ 'active' if request.endpoint == 'feedback' else '' }}">Feedback</a></li>
        <li><a href="{{ url_for('contact') }}" class="nav-link {{ 'active' if request.endpoint == 'contact' else '' }}">Contact</a></li>
      </ul>

      <div class="text-end">
        <a href="{{ url_for('admin_login') }}" class="btn btn-sm btn-outline-primary me-2">Admin Login</a>
      </div>
    </header>
  </div>
